:root{
  --dark: #5F5F5F;
  --bright: #E3E3E3;  
  --gradient: linear-gradient(#E3E3E3 90%,#5F5F5F);
  --mainGray: #6d6d6d;
  --gold: 	#F0F8FF;
}
.navbar{
    background: white;
}
.navbar-toggler:focus{
 outline: none;

}
.navbar-toggler{
  border: none;
}
.style{
    width: 35px;
    margin: 2px;
    margin-left: 15px;
    margin-right: 15px;
    
}
.background{
  background: white;
}
/*not found page*/
.banner {
  display: inline-block;
  background: #E3E3E3;
  color: #5F5F5F;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  padding: 2rem 10rem;
  border: 3px solid #5F5F5F ;
  margin-left: 650px;
  margin-right: 650px;
  margin-top: 150px;
  margin-bottom: 150px;

}
.banner h1 {
  font-size: 5rem;
}
.banner div {
  width: 10rem;
  height: 5px;
  background: #5F5F5F;
  margin: 1.7rem auto;
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.button {
  display: inline-block;
  text-decoration: none;
  letter-spacing: 0.2rem;
  color: #5F5F5F;
  background: #E3E3E3;
  padding: 0.4rem 0.9rem;
  border: 3px solid #5F5F5F;
  transition: 0.3s linear;
  text-transform: uppercase;
  cursor: pointer;
}
.button:hover {
  background: #5F5F5F;
  color: #E3E3E3;
}
/*hotels page*/
.hotels{
  text-align: center;
  justify-content: center;
  background-image: url(./components/assets/hotel1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 700px;
}
.hotels h1{
  font-size: 50px;
  padding-top: 200px;
  color: white;
}
.hotels div{
    width: 5rem;
    height: 5px;
    background: red;
    margin: 1.7rem auto;
    margin-top: 40px;
}
.hotels p{
  font-size: 20px;
  color: white;
  margin-top: 40px;
}
/*end hotels page*/
/*food*/
.food{
  text-align: center;
  justify-content: center;
  background-image: url(./components/assets/food.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 450px;
}
.text-food{
  text-align: center;
}
.text-food h1{
  font-size: 50px;
  padding-top:50px;
  color:var(--dark);
}
.text-food div{
    width: 5rem;
    height: 5px;
    background: red;
    margin: 1.7rem auto;
    margin-top: 40px;
}

/*end food*/
/*card view*/
#card {
  background: white !important;
}
section {
  padding: 60px 0;
}

#card .card {
  border: none;
  background: #E3E3E3;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
}
.backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
.frontside,
.backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
}
.frontside .card,
.backside .card {
  min-height: 312px;
}
.backside .card a {
  font-size: 18px;
  color: #5F5F5F !important;
}

.frontside .card .card-title,
.backside .card .card-title {
  color: #5F5F5F !important;
}

.frontside .card .card-body img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.button-card {
  display: inline-block;
  text-decoration: none;
  letter-spacing: 0.2rem;
  color: #5F5F5F;
  background: transparent;
  padding: 0.4rem 0.9rem;
  border: 3px solid #5F5F5F;
  transition: 0.3s linear;
  text-transform: uppercase;
  cursor: pointer;
}
.button-card:hover {
  background: white;
  text-decoration: none;
}
/*end of card view*/








